<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/LG.css" rel="stylesheet" />
</head>
<body id="TODO" transition-style="in:circle:hesitate">
    
        @RenderBody()
    
</body>
</html>
